{{ 'section-partners.css' | asset_url | stylesheet_tag }}

<section class="partners">
  <div class="container">
    <h2 class="partners__title"> {{ section.settings.custom_text_title }} </h2>

    <div class="partners__logo-wrapper">
      {% for block in section.blocks %}
        <img src="{{ block.settings.image | img_url: "master"}}" alt="{{ block.settings.image.alt | escape}}"/>
      {% endfor %}
    </div>
  </div>
</section>


{% schema %}
{
  "name": "Partners",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "id": "custom_text_title",
      "type": "text",
      "label": "Text box heading",
      "default": "Title"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "partners image",
      "settings": [
        {
          "type": "image_picker",
          "label": "partners",
          "id": "image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Partners"
    }
  ]
}
{% endschema %}
