{{ 'section-benefits.css' | asset_url | stylesheet_tag }}

{% if product.metafields.accentuate.images != blank %}
<section class="before-after-section" id="benefits-section">
  <div class="container">
    <h2>{{ product.metafields.accentuate.title }}</h2>
    {{ product.metafields.accentuate.text }}

    <div class="before-after__images">
      {% for image in product.metafields.accentuate.images %}
        <img src="{{ image.src }}" alt="">
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}

{% schema %}
{
  "name": "Before/After PDP",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.pdp-benefits.settings.header.content"
    }
  ],
  "presets": [
    {
      "name": "Before/After PDP"
    }
  ]
}
{% endschema %}
