
// Mixin
@mixin max-screen($res) {
  @media screen and (max-width: $res + px) {
    @content;
  }
}

@mixin min-screen($res) {
  @media screen and (min-width: $res + "px") {
    @content;
  }
}

@mixin line-text-hidden($col: 2) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $col; /* количество строк */
}

// Color
$black: #2A3241;
$midGrey: #5E697E;
$lightGrey: #F1F3F6;
$white: #ffffff;
$errorState: #DE3D64;
$purple: #850B65;
$rose: #BA3A7D;
$blush-25: #FFEEEA;
$roseMid: #F08B84;
$blush: #FFBBAB;
$green: #30CD9C;
$goldGradient: linear-gradient(180deg, #A35B40 0%, #C88264 48.44%, #F3B393 70.31%, #89493B 100%);

// Fonts
$futura: "futura", suns-serif;
$gtWalsheimPro: "GT Walsheim Pro", suns-serif;
