@import "variables";

.collection-hero {
  padding: 100px 0 40px;

  @include max-screen(767) {
    padding: 40px 0;
  }
}

.collection-hero__title {
  font-family: $futura;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.25;
  color: $black;
  margin-bottom: 10px;

  @include max-screen(767) {
    font-size: 32px;
  }
}

.collection-hero__description {
  font-family: $futura;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: $midGrey;
}
