.card-wrapper {
  width: 380px;
  height: auto;
  border: 1px solid #F1F3F6;
  border-radius: 20px;
  overflow: hidden; }
  @media screen and (max-width: 991px) {
    .card-wrapper {
      max-width: 380px;
      width: 100%; } }
  .card-wrapper .card__inner {
    position: relative; }
    .card-wrapper .card__inner .card__media {
      max-width: 380px;
      width: 100%;
      height: 334px; }
      @media screen and (max-width: 767px) {
        .card-wrapper .card__inner .card__media {
          height: 220px; } }
      @media screen and (max-width: 575px) {
        .card-wrapper .card__inner .card__media {
          height: 160px; } }
      .card-wrapper .card__inner .card__media .media {
        height: 100%; }
      .card-wrapper .card__inner .card__media img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .card-wrapper .card__inner .badge-wrapper {
      position: absolute;
      top: 12px;
      right: 14px;
      line-height: 1; }
  .card-wrapper .card__content {
    padding: 20px;
    min-height: 207px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
    @media screen and (max-width: 991px) {
      .card-wrapper .card__content {
        min-height: 219px; } }
    @media screen and (max-width: 767px) {
      .card-wrapper .card__content {
        padding: 10px;
        min-height: 165px; } }
    @media screen and (max-width: 450px) {
      .card-wrapper .card__content {
        min-height: 174px; } }
    .card-wrapper .card__content .jdgm-widget {
      display: block !important;
      min-height: 29px;
      margin-bottom: 10px; }
      .card-wrapper .card__content .jdgm-widget .jdgm-prev-badge__stars {
        margin-right: 10px; }
      .card-wrapper .card__content .jdgm-widget .jdgm-prev-badge__text {
        display: inline-block;
        font-family: "futura", suns-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.3;
        color: #5E697E;
        text-decoration: underline; }
        @media screen and (max-width: 767px) {
          .card-wrapper .card__content .jdgm-widget .jdgm-prev-badge__text {
            font-size: 14px; } }
      .card-wrapper .card__content .jdgm-widget .jdgm-star {
        color: #F08B84; }
    .card-wrapper .card__content .card__information-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 20px 10px; }
      @media screen and (max-width: 991px) {
        .card-wrapper .card__content .card__information-wrapper {
          align-items: center; } }
      .card-wrapper .card__content .card__information-wrapper .information-content {
        min-height: 60px;
        width: 220px; }
        @media screen and (max-width: 991px) {
          .card-wrapper .card__content .card__information-wrapper .information-content {
            width: 100%; } }
        @media screen and (max-width: 767px) {
          .card-wrapper .card__content .card__information-wrapper .information-content {
            min-height: 38px; } }
        .card-wrapper .card__content .card__information-wrapper .information-content .title a {
          max-width: 100%;
          width: max-content;
          font-family: "futura", suns-serif;
          font-weight: 500;
          font-size: 22px;
          line-height: 1.5;
          color: #2A3241;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
          @media screen and (max-width: 767px) {
            .card-wrapper .card__content .card__information-wrapper .information-content .title a {
              font-size: 16px;
              line-height: 1.25; } }
        .card-wrapper .card__content .card__information-wrapper .information-content .text {
          max-width: 100%;
          width: max-content;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-family: "futura", suns-serif;
          font-weight: 400;
          font-size: 18px;
          line-height: 1.5;
          color: #5E697E; }
          @media screen and (max-width: 767px) {
            .card-wrapper .card__content .card__information-wrapper .information-content .text {
              font-size: 14px;
              line-height: 1.25; } }
      .card-wrapper .card__content .card__information-wrapper .quick-add {
        margin-bottom: 0;
        width: 100%; }
        @media screen and (max-width: 991px) {
          .card-wrapper .card__content .card__information-wrapper .quick-add {
            width: max-content;
            height: max-content; } }
        @media screen and (max-width: 767px) {
          .card-wrapper .card__content .card__information-wrapper .quick-add.product-sold-out .button {
            font-size: 12px; } }
        .card-wrapper .card__content .card__information-wrapper .quick-add .button {
          width: 100%; }
          @media screen and (max-width: 991px) {
            .card-wrapper .card__content .card__information-wrapper .quick-add .button {
              padding: 0;
              width: 60px;
              height: 60px; }
              .card-wrapper .card__content .card__information-wrapper .quick-add .button span {
                display: none; }
              .card-wrapper .card__content .card__information-wrapper .quick-add .button svg {
                margin-right: 0; } }
          @media screen and (max-width: 767px) {
            .card-wrapper .card__content .card__information-wrapper .quick-add .button {
              width: 40px;
              height: 40px; } }
        .card-wrapper .card__content .card__information-wrapper .quick-add .button-icon:hover path {
          stroke: #ffffff;
          transition: 0.3s; }
