@import "variables";

.collection-hero__title {
  font-family: $futura;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.25;
  color: $black;
  margin-bottom: 10px;
}

.collection-hero__description {
  font-family: $futura;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: $midGrey;
}
