.body-background {
  position: relative;
}

.customer-login {
  padding-top: 90px;
  padding-bottom: 180px;
}
@media screen and (max-width: 767px) {
  .customer-login {
    padding-top: 32px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
.customer-login__background {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.customer-login__background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.customer-login__heading {
  position: relative;
  text-align: center;
  margin-bottom: 22px;
}
@media screen and (max-width: 767px) {
  .customer-login__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.customer-login__heading-link {
  display: inline-block;
  vertical-align: top;
}
.customer-login__return {
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (max-width: 767px) {
  .customer-login__return {
    position: static;
  }
}
.customer-login__return-link {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.3;
}
.customer-login__return-icon {
  margin-left: 16px;
}
.customer-login__return-icon svg {
  display: block;
}
.customer-login__box {
  max-width: 380px;
  margin-right: auto;
  margin-left: auto;
  padding: 30px 40px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 80px rgba(227, 229, 233, 0.5);
}
@media screen and (max-width: 767px) {
  .customer-login__box {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.customer-login__title {
  margin-bottom: 30px;
  text-align: center;
}
.customer-login__button {
  width: 100%;
}
.customer-login__button + .button {
  margin-top: 15px;
}
.customer-login__register-link {
  font-family: "futura", suns-serif;
  line-height: 1.28;
  padding-top: 30px;
  text-align: center;
  letter-spacing: -0.5px;
}
.customer-login__register-link a {
  color: #BA3A7D;
}
.customer-login__confirm {
  background-color: rgba(255, 187, 171, 0.25);
  font-size: 14px;
  line-height: 1.28;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 20px;
}
.customer-login__title-secondary {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  padding-bottom: 16px;
}
.customer-login .field {
  margin-bottom: 15px;
}
.customer-login .field.field--error:not(.last--field) {
  margin-bottom: 42px;
}
.customer-login #rc_login {
  display: none;
}

.form__error {
  background-color: rgba(255, 187, 171, 0.25);
  font-size: 16px;
  line-height: 1.4;
  padding: 11px 10px 11px 39px;
  margin-bottom: 30px;
  border-radius: 20px;
  background-image: url("exit-rose.svg");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: 12px center;
}

.recover {
  margin-top: -7px;
  margin-bottom: 30px;
  text-align: right;
}
.recover__link {
  display: inline-block;
  vertical-align: top;
}

.extra-indent {
  padding-bottom: 15px;
}

#recover,
#recover + div {
  display: none;
}

#recover:target {
  display: block;
}

#recover:target + div {
  display: block;
}

#recover:target ~ #login,
#recover:target ~ #login + div {
  display: none;
}

.addresses [aria-expanded=false] ~ div[id] {
  display: none;
}

.addresses [aria-expanded=true] ~ div[id] {
  display: block;
}

/*# sourceMappingURL=customer.css.map */
