@import "_variables";

.body-background {
  position: relative;
}

.customer-login {
  padding-top: 90px;
  padding-bottom: 180px;

  @include max-screen(767) {
    padding-top: 32px;
    padding-right: 5px;
    padding-left: 5px;
  }

  &__background {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }

  &__background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__heading {
    position: relative;
    margin-bottom: 22px;
    text-align: center;

    @include max-screen(767) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__heading-link {
    display: inline-block;
    vertical-align: top;
  }

  &__return {
    position: absolute;
    top: 0;
    right: 0;

    @include max-screen(767) {
      position: static;
    }
  }

  &__return-link {
    font-size: 16px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    color: $white;
  }

  &__return-icon {
    margin-left: 16px;

    svg {
      display: block;
    }
  }

  &__box {
    max-width: 380px;
    margin-right: auto;
    margin-left: auto;
    padding: 30px 40px;
    border-radius: 20px;
    background-color: $white;
    box-shadow: 0px 4px 80px rgba(227, 229, 233, 0.5);

    @include max-screen(767) {
      padding-right: 30px;
      padding-left: 30px;
    }

    &.register-complete--style {
      @include min-screen(768) {
        padding-right: 60px;
        padding-left: 60px;
      }
    }
  }

  &__title {
    margin-bottom: 30px;
    text-align: center;
  }

  &__button {
    width: 100%;

    & + .button {
      margin-top: 15px;
    }
  }

  &__register-link {
    font-family: $futura;
    line-height: 1.28;
    padding-top: 30px;
    text-align: center;
    letter-spacing: -0.5px;

    a {
      color: $rose;
    }
  }

  &__confirm {
    font-size: 14px;
    line-height: 1.28;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba($blush, .25);
  }

  &__title-secondary {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    padding-bottom: 16px;
  }

  &__register-confirm-message {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: -.5px;

    @include max-screen(767) {
      font-size: 16px;
    }
  }

  .field {
    margin-bottom: 15px;

    &.field--error {
      &:not(.last--field) {
        margin-bottom: 42px;
      }
    }
  }

  #rc_login {
    display: none;
  }
}

.form__error {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 30px;
  padding: 11px 10px 11px 39px;
  border-radius: 20px;
  background-color: rgba($blush, .25);
  background-image: url("exit-rose.svg");
  background-repeat: no-repeat;
  background-position: 12px center;
  background-size: 24px;
}

.recover {
  margin-top: -7px;
  margin-bottom: 30px;
  text-align: right;

  &__link {
    display: inline-block;
    vertical-align: top;
  }
}

.extra-indent {
  padding-bottom: 15px;
}


#recover,
#recover + div {
  display: none;
}

#recover:target {
  display: block;
}

#recover:target + div {
  display: block;
}

#recover:target ~ #login,
#recover:target ~ #login + div {
  display: none;
}

.addresses [aria-expanded='false'] ~ div[id] {
  display: none;
}

.addresses [aria-expanded='true'] ~ div[id] {
  display: block;
}
