// Mixin
@mixin max-screen($res) {
  @media screen and (max-width: $res + px) {
    @content;
  }
}

@mixin min-screen($res) {
  @media screen and (min-width: $res + "px") {
    @content;
  }
}

// Color
$black: #2A3241;
$midGrey: #5E697E;
$lightGrey: #F1F3F6;
$white: #ffffff;
$pink: #DE3D64;
$purple: #850B65;
$rose: #BA3A7D;
$blush-25: rgba(255, 187, 171, 0.25);
$roseMid: #F08B84;
$blush: #FFBBAB;
$green: #30CD9C;
$gradientGold: linear-gradient(180deg, #A35B40 0%, #C88264 48.44%, #F3B393 70.31%, #89493B 100%);

// Fonts
$futura: "futura", suns-serif;

//================= Style ==============

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;


  @include max-screen(992) {
    max-width: 720px;
  }

  @include max-screen(768) {
    max-width: 540px;
  }

  @include max-screen(576) {
    max-width: 100%;
  }
}

// ___ Typography ___

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $futura;
  color: $black;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  font-size: 42px;

  @include max-screen(767) {
    font-size: 34px;
  }

  &.lg {
    font-size: 48px;

    @include max-screen(767) {
      font-size: 32px;
    }
  }
}

h2 {
  font-size: 40px;

  @include max-screen(767) {
    font-size: 30px;
  }
}

h3 {
  font-size: 32px;

  @include max-screen(767) {
    font-size: 27px;
  }
}

h4 {
  font-size: 24px;

  @include max-screen(767) {
    font-size: 22px;
  }
}

p {
  font-family: $futura;
  color: $black;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;

  @include max-screen(767) {
    font-size: 16px;
  }

  &.lg {
    font-size: 22px;

    @include max-screen(767) {
      font-size: 18px;
    }
  }

  &.sm {
    font-size: 16px;

    @include max-screen(767) {
      font-size: 14px;
    }
  }

  &.underline {
    text-decoration-line: underline;

    /*    position: relative;
        width: max-content;

        &:before {
          content: "";
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background: black;
        }*/
  }

  &.strikethrough {
    text-decoration-line: line-through;
  }

  &.caps {
    text-transform: uppercase;
  }
}

// ___ Elements ___

a {
  display: block;
  width: max-content;
  margin: 30px 0;

  text-decoration: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $futura;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
  color: $black;
  padding: 12.5px 24px;
  border-radius: 60px;

  @include max-screen(767) {
    font-size: 16px;
    padding: 9.5px 24px;
  }

  //button--sm
  &--sm {
    padding: 9.5px 32px;
    font-size: 16px;

    @include max-screen(767) {
      font-size: 14px;
      padding: 5px 24px;
    }
  }

  //button--lg
  &--lg {
    padding: 11.5px 32px;
    font-size: 22px;
    line-height: 1.5;

    @include max-screen(767) {
      font-size: 18px;
      padding: 12px 24px;
    }
  }

  &.primary-button {
    color: $white;
    background-color: $rose;
    transition: 0.3s;

    &:hover {
      color: $white;
      background-color: $purple;
      transition: 0.3s;
    }
  }

  &.secondary-button {
    background-color: $blush-25;
    transition: 0.3s;

    &:hover {
      color: $white;
      background-color: $rose;
      transition: 0.3s;
    }
  }

  &.outline-button {
    color: $purple;
    background-color: $white;
    border: 1px solid $purple;
    padding: 11.5px 23px;
    transition: 0.3s;

    @include max-screen(767) {
      padding: 8.5px 23px;
    }

    &.button--sm {
      padding: 8.5px 31px;

      @include max-screen(767) {
        padding: 4px 23px;
      }
    }

    &.button--lg {
      padding: 10.5px 31px;

      @include max-screen(767) {
        padding: 11.5px 23px;
      }
    }

    &:hover {
      color: $white;
      background-color: $purple;
      transition: 0.3s;
    }
  }

  &.disabled-button {
    color: $midGrey;
    background-color: $lightGrey;
    cursor: default;

    &:hover {
      color: $midGrey;
    }
  }

  // button--icon
  &--icon {
    svg {
      margin-right: 10px;
      @include max-screen(767) {
        width: 24px;
        height: 24px;
      }

      @include max-screen(767) {
        width: 14px;
        height: 14px;
      }
    }
  }

  // button--arrow
  &--arrow {
    svg {
      margin-right: 10px;

      @include max-screen(767) {
        width: 14px;
        height: 14px;
      }
      path {
        stroke: $black;
        transition: 0.3s;
      }
    }

    &:hover {
      path {
        stroke: $white;
        transition: 0.3s;
      }
    }
  }

}
