// Mixin
@mixin max-screen($res) {
  @media screen and (max-width: $res + px) {
    @content;
  }
}

@mixin min-screen($res) {
  @media screen and (min-width: $res + "px") {
    @content;
  }
}

// Color
$black: #2A3241;
$grey: #5E697E;
$greyLight: #F1F3F6;
$white: #ffffff;
$pink: #DE3D64;
$purple: #850B65;
$rose: #BA3A7D;
$beige: rgba(255, 187, 171, 0.25);
$blush: #F08B84;
$blushLight: #FFBBAB;
$green: #30CD9C;
$gradientGold: linear-gradient(180deg, #A35B40 0%, #C88264 48.44%, #F3B393 70.31%, #89493B 100%);

// Fonts
$futura: "futura", suns-serif;

//================= Style ==============

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;


  @include max-screen(992) {
    max-width: 720px;
  }

  @include max-screen(768) {
    max-width: 540px;
  }

  @include max-screen(576) {
    max-width: 100%;
  }
}

// ___ Typography ___

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $futura;
  color: $black;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  font-size: 42px;

  @include max-screen(767) {
    font-size: 34px;
  }

  &.lg {
    font-size: 48px;

    @include max-screen(767) {
      font-size: 32px;
    }
  }
}

h2 {
  font-size: 40px;

  @include max-screen(767) {
    font-size: 30px;
  }
}

h3 {
  font-size: 32px;

  @include max-screen(767) {
    font-size: 27px;
  }
}

h4 {
  font-size: 24px;

  @include max-screen(767) {
    font-size: 22px;
  }
}

p {
  font-family: $futura;
  color: $black;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;

  @include max-screen(767) {
    font-size: 16px;
  }

  &.lg {
    font-size: 22px;

    @include max-screen(767) {
      font-size: 18px;
    }
  }

  &.sm {
    font-size: 16px;

    @include max-screen(767) {
      font-size: 14px;
    }
  }

  &.underline {
    text-decoration-line: underline;
  }

  &.strikethrough {
    position: relative;

    //text-decoration-line: line-through;
  }

  &.caps {
    text-transform: uppercase;
  }
}

// ___ Elements ___

a {
  display: block;
  width: max-content;
  margin: 10px;
}
