@charset "UTF-8";
.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0; }
  @media screen and (max-width: 992px) {
    .container {
      max-width: 720px; } }
  @media screen and (max-width: 768px) {
    .container {
      max-width: 540px; } }
  @media screen and (max-width: 576px) {
    .container {
      max-width: 100%; } }

h1, h2, h3, h4, h5, h6 {
  font-family: "futura", suns-serif;
  color: #2A3241;
  font-weight: 400;
  line-height: 1.3; }

h1 {
  font-size: 42px; }
  @media screen and (max-width: 767px) {
    h1 {
      font-size: 34px; } }
  h1.lg {
    font-size: 48px; }
  @media screen and (max-width: 767px) {
    h1.lg {
      font-size: 32px; } }

h2 {
  font-size: 40px; }
  @media screen and (max-width: 767px) {
    h2 {
      font-size: 30px; } }

h3 {
  font-size: 32px; }
  @media screen and (max-width: 767px) {
    h3 {
      font-size: 27px; } }

h4 {
  font-size: 24px; }
  @media screen and (max-width: 767px) {
    h4 {
      font-size: 22px; } }

p {
  font-family: "futura", suns-serif;
  color: #2A3241;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5; }
  @media screen and (max-width: 767px) {
    p {
      font-size: 16px; } }
  p.lg {
    font-size: 22px; }
  @media screen and (max-width: 767px) {
    p.lg {
      font-size: 18px; } }
  p.sm {
    font-size: 16px; }
  @media screen and (max-width: 767px) {
    p.sm {
      font-size: 14px; } }
  p.underline {
    text-decoration-line: underline;
    /*    position: relative;
        width: max-content;

        &:before {
          content: "";
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background: black;
        }*/ }
  p.strikethrough {
    text-decoration-line: line-through; }
  p.caps {
    text-transform: uppercase; }

a {
  display: block;
  width: max-content;
  margin: 30px 0;
  text-decoration: none; }

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "futura", suns-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
  color: #2A3241;
  padding: 12.5px 24px;
  border-radius: 60px; }
  @media screen and (max-width: 767px) {
    .button {
      font-size: 16px;
      padding: 9.5px 24px; } }
  .button--sm {
    padding: 9.5px 32px;
    font-size: 16px; }
  @media screen and (max-width: 767px) {
    .button--sm {
      font-size: 14px;
      padding: 5px 24px; } }
  .button--lg {
    padding: 11.5px 32px;
    font-size: 22px;
    line-height: 1.5; }
  @media screen and (max-width: 767px) {
    .button--lg {
      font-size: 18px;
      padding: 12px 24px; } }
  .button.primary-button {
    color: #ffffff;
    background-color: #BA3A7D;
    transition: 0.3s; }
    .button.primary-button:hover {
      color: #ffffff;
      background-color: #850B65;
      transition: 0.3s; }
  .button.secondary-button {
    background-color: rgba(255, 187, 171, 0.25);
    transition: 0.3s; }
    .button.secondary-button:hover {
      color: #ffffff;
      background-color: #BA3A7D;
      transition: 0.3s; }
  .button.outline-button {
    color: #850B65;
    background-color: #ffffff;
    border: 1px solid #850B65;
    padding: 11.5px 23px;
    transition: 0.3s; }
  @media screen and (max-width: 767px) {
    .button.outline-button {
      padding: 8.5px 23px; } }
    .button.outline-button.button--sm {
      padding: 8.5px 31px; }
  @media screen and (max-width: 767px) {
    .button.outline-button.button--sm {
      padding: 4px 23px; } }
    .button.outline-button.button--lg {
      padding: 10.5px 31px; }
  @media screen and (max-width: 767px) {
    .button.outline-button.button--lg {
      padding: 11.5px 23px; } }
    .button.outline-button:hover {
      color: #ffffff;
      background-color: #850B65;
      transition: 0.3s; }
  .button.disabled-button {
    color: #5E697E;
    background-color: #F1F3F6;
    cursor: default; }
    .button.disabled-button:hover {
      color: #5E697E; }
  .button--icon svg {
    margin-right: 10px; }
  @media screen and (max-width: 767px) {
    .button--icon svg {
      width: 24px;
      height: 24px; } }
  @media screen and (max-width: 767px) {
    .button--icon svg {
      width: 14px;
      height: 14px; } }
  .button--arrow svg {
    margin-right: 10px; }
  @media screen and (max-width: 767px) {
    .button--arrow svg {
      width: 14px;
      height: 14px; } }
    .button--arrow svg path {
      stroke: #2A3241;
      transition: 0.3s; }
  .button--arrow:hover path {
    stroke: #ffffff;
    transition: 0.3s; }

/* для элемента input c type="checkbox" */
.custom-checkbox > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  /* стили при наведении курсора на checkbox */
  /* стили для активного чекбокса (при нажатии на него) */
  /* стили для чекбокса, находящегося в фокусе */
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  /* стили для чекбокса, находящегося в состоянии checked */
  /* стили для чекбокса, находящегося в состоянии disabled */ }
  .custom-checkbox > input:not(:disabled):not(:checked) + span:hover::before {
    background-color: rgba(255, 187, 171, 0.25);
    transition: 0.3s; }
  .custom-checkbox > input:not(:disabled):active + span::before {
    background-color: #2A3241;
    transition: 0.3s; }
  .custom-checkbox > input:focus + span::before {
    background-color: rgba(255, 187, 171, 0.25);
    transition: 0.3s; }
  .custom-checkbox > input:focus:not(:checked) + span::before {
    background-color: #ffffff;
    transition: 0.3s; }
  .custom-checkbox > input:checked + span::before {
    background-color: #2A3241;
    background-image: url("checked.svg");
    background-size: cover;
    background-position: center; }
  .custom-checkbox > input:disabled + span {
    color: #5E697E; }
    .custom-checkbox > input:disabled + span:before {
      color: #F1F3F6;
      background-color: #F1F3F6;
      cursor: default; }

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox > span {
  display: inline-flex;
  align-items: baseline;
  user-select: none;
  font-family: "futura", suns-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #2A3241;
  /* создание в label псевдоэлемента before со следующими стилями */ }
  .custom-checkbox > span:before {
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    border: 1px solid #5E697E;
    border-radius: 5px;
    margin-right: 8px;
    background-color: #ffffff;
    transition: 0.3s; }

/* для элемента input c type="radio" */
.custom-radio > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  /* стили при наведении курсора на радио */
  /* стили для активной радиокнопки (при нажатии на неё) */
  /* стили для радиокнопки, находящейся в фокусе */
  /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
  /* стили для радиокнопки, находящейся в состоянии checked */
  /* стили для радиокнопки, находящейся в состоянии disabled */ }
  .custom-radio > input:not(:disabled):not(:checked) + span:hover::after {
    background-color: rgba(255, 187, 171, 0.25);
    transition: 0.3s; }
  .custom-radio > input:not(:disabled):active + span::after {
    background-color: rgba(255, 187, 171, 0.25);
    transition: 0.3s; }
  .custom-radio > input:focus + span::after {
    background-color: rgba(255, 187, 171, 0.25);
    transition: 0.3s; }
  .custom-radio > input:focus:not(:checked) + span::after {
    background-color: rgba(255, 187, 171, 0.25);
    transition: 0.3s; }
  .custom-radio > input:checked + span::after {
    background-color: #2A3241;
    transition: 0.3s; }
  .custom-radio > input:disabled + span {
    color: #5E697E; }
    .custom-radio > input:disabled + span:after {
      background-color: #F1F3F6;
      transition: 0.3s; }

/* для элемента label связанного с .custom-radio */
.custom-radio > span {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-family: "futura", suns-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: #2A3241;
  /* создание в label псевдоэлемента  before и after со следующими стилями */ }
  .custom-radio > span:before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 1px solid #5E697E;
    border-radius: 50%;
    background-color: #F1F3F6;
    margin-right: 8px; }
  .custom-radio > span:after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    transition: 0.3s; }
