@import "_variables.scss";

.index {
  .partners {
    margin-bottom: 40px;

    @include max-screen(991) {
      margin-bottom: 20px;
    }

    @include max-screen(767) {
      padding: 20px 0;
    }
  }
}

.partners {
  padding: 40px 0;

  .partners__title {
    margin-bottom: 20px;

    font-family: $futura;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: #000000;
  }

  .partners__logo-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px 40px;
    @include max-screen(575) {
      gap: 20px 30px;
    }


    img {
      display: block;
      max-width: 100%;
      width: auto;
      height: 50px;
      object-fit: contain;
      object-position: center;

      @include max-screen(767) {
        width: calc(33.33% - 20px);
      }

    }
  }
}
