@import "_variables.scss";

.differentiators {
  padding: 80px 0;
  background-color: $blush-25;
}

.differentiators__content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
}

.differentiators__content {
  max-width: 100%;
  width: 100%;

  .differentiators__title {
    font-family: $futura;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.3;
    color: $black;
    margin-bottom: 10px;
  }

  .differentiators__text {
    max-width: 480px;
    width: 100%;
    font-family: $futura;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
    color: $black;
    margin-bottom: 10px;
  }
}

.differentiators__list {
  max-width: 580px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;

}

.differentiators__list-item {
  padding: 40px 34px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  border-radius: 20px;
  width: 280px;
  height: 284px;

  .differentiators__list-item-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $blush-25;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      max-width: 60px;
      max-height: 60px;
    }
  }

  .differentiators__list-item-title {
    margin-top: auto;
    width: 210px;
    height: 66px;
    overflow: hidden;
    font-family: $futura;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
    color: $black;
    text-align: center;
  }
}
