@import "_variables.scss";
// ========= announcement-bar =========

.announcement-bar {
  background: linear-gradient(90deg, rgba(253, 188, 174, 1) calc(50% - 550px), rgba(255, 238, 234, 1) calc(50% - 550px));

  @include max-screen(992) {
    background: linear-gradient(90deg, rgba(253, 188, 174, 1) calc(50% - 300px), rgba(255, 238, 234, 1) calc(50% - 300px));
  }

  @include max-screen(768) {
    background: linear-gradient(90deg, rgba(253, 188, 174, 1) calc(50% - 210px), rgba(255, 238, 234, 1) calc(50% - 210px));
  }
}

.container__announcement-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
}

.announcement-timer {
  display: flex;
  align-items: center;
  align-self: stretch;
  background-color: #FDBCAE;
  padding-right: 50px;
  border-radius: 0 30px 30px 0;

  .timer__items {
    display: flex;
    align-items: stretch;

    .timer__item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      min-width: 35px;
      min-height: 40px;
      padding: 2px;
      border-radius: 4px;
      background-color: $rose;
      color: $white;
      font-family: $gtWalsheimPro;
      font-size: 10px;
      font-weight: 400;
      line-height: 1.5;

      &:not(:last-of-type) {
        margin-right: 4px;
      }

      .timer__elem {
        font-family: $futura;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.1;
        color: $white;
      }
    }
  }
}

.announcement-message {
  padding: 4px 20px;

  p {
    font-family: $futura;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: $black;
    margin: 0;
    text-align: center;

    strong {
      color: $rose;
      font-weight: 500;
      line-height: 1.25;
    }

    + p {
      font-size: 16px;
      line-height: 1.28;
      font-weight: 500;
      color: $black;
    }

    em {
      font-weight: 400;
      font-style: normal;
    }
  }
}

.announcement-btn {
  display: flex;
  align-items: center;

  .close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-left: 24px;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

// ========= header =========

.header-wrapper {
  padding: 16px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__heading {
  max-height: 50px;
  height: 100%;
}


// ========= nav =========

.header__inline-menu {
  padding: 0 15px;
  height: max-content;

  .list-menu {
    display: flex;
    align-items: center;

    .list-menu__elem {
      position: relative;

      &:not(:last-of-type) {
        margin-right: 30px;
      }

      .list-menu__item {
        font-family: $futura;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.5;
        color: $black;

      }

      .mega-menu__content {
        position: absolute;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 60px 116px;
        background-color: $white;
        min-width: 920px;
        min-height: 346px;
        transform: translate(-30%, 4px);
        z-index: 1;

        .mega-menu__list {
          padding: 0 20px 0 0;
          margin: 0;
          max-width: 216px;
          width: 100%;

          .mega-menu__elem {
            &:not(:last-of-type) {
              margin-bottom: 20px;
            }
          }

          .mega-menu__link {
            display: block;
            font-family: $futura;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.3;
            color: $midGrey;

            &.mega-menu__link--color {
              display: flex;
              align-items: center;
              color: $rose;
              line-height: 1;
            }

            &.mega-menu__link-not-link {
              font-weight: 400;
            }
          }
        }

        .menu-boxes {
          display: flex;
          column-gap: 20px;
          min-width: 452px;
          width: max-content;


          .menu-box {
            background-color: black;
            width: 226px;
            height: 226px;
            padding: 11px;
            font-family: $futura;
            font-weight: 450;
            font-size: 18px;
            line-height: 1.3;
            color: $white;

            strong {
              font-size: 22px;
            }

            &.menu-box__text-top {
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              .menu-box__title {
                text-align: end;
              }

              .menu-box__link-title {
                text-align: center;
                margin-bottom: 7px;
              }
            }

            &.menu-box__text-center {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: end;
              text-align: end;
            }
          }
        }

        .menu-one-box {
          display: flex;
          justify-content: space-between;
          align-items: center;
          max-width: 472px;
          width: max-content;
          min-height: 226px;

          .menu-one-box__image {
            display: block;
            max-width: 50%;
            height: auto;
            margin: 0 auto;
          }

          .menu-one-box__holder {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-self: stretch;
            width: 50%;
            padding: 20px;
            margin-left: auto;

            .menu-one-box__top-title {
              display: inline-block;
              font-family: $futura;
              font-weight: 500;
              font-size: 16px;
              line-height: 1.25;
              color: $white;
              margin-bottom: 15px;
              padding: 2px 12px;
              background-color: $midGrey;
              border-radius: 32px;
              width: max-content;
            }

            p {
              font-family: $futura;
              font-weight: 500;
              font-size: 18px;
              line-height: 1.3;
              color: $black;
            }

            a {
              display: flex;
              align-items: center;
              font-family: $futura;
              font-weight: 500;
              font-size: 16px;
              line-height: 1.25;
              color: $rose;
            }
          }
        }
      }
    }
  }
}

.header-icons {
  display: flex;
  align-items: center;

  .header-icons__elem {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  svg, path {
    stroke: #5E697E;
  }

  .icon-search,
  .header__account,
  .header-icons__elem,
  .header__icon,
  details,
  summary {
    height: 24px;
    width: 24px;
  }
}

.header__search {
  details {
    &[open] {
      .search-modal {
        transition: 0.3s opacity;
      }
    }
  }

  .search-modal__form {
    position: relative;
  }

  .search-modal__content {
    padding-top: 20px;
    align-items: start;
    background-color: darkgray;
  }

  .search-modal__close-button {
    position: absolute;
    width: max-content;
    height: 100%;
    margin: 0;
    top: 0;
    right: 66px;
    border: none;
    cursor: pointer;
  }
}

.predictive-search {
  padding: 32px;
  background-color: $white;
  border: 1px solid $lightGrey;
  border-radius: 20px;
  box-shadow: 0 4px 80px 0 rgba(227, 229, 233, 0.5);

  .predictive-search__heading {
    padding: 0;
    margin: 0 0 20px;
    font-family: $midGrey;
    font-size: 16px;
    line-height: 1.2;
  }

  .predictive-search__results-list {
    .predictive-search__list-item {
      display: flex;
      column-gap: 15px;
      padding: 10px;
    }

    .predictive-search__item {

    }
  }
}
