.blog {
  padding: 80px 0;
  margin: 0;
  background-color: #F1F3F6; }
  .blog .blog__title-wrapper {
    text-align: center;
    margin-bottom: 30px; }
    .blog .blog__title-wrapper .blog__title {
      font-family: "futura", suns-serif;
      font-weight: 500;
      font-size: 40px;
      line-height: 1.3;
      color: #2A3241;
      margin-bottom: 10px; }
    .blog .blog__title-wrapper + p {
      font-family: "futura", suns-serif;
      font-weight: 400;
      font-size: 22px;
      line-height: 1.5;
      color: #5E697E; }

.blog__posts {
  display: flex;
  justify-content: space-between;
  gap: 20px; }
